Импортируем все необходимое

In [11]:
import cv2
import random
import pandas as pd
import matplotlib.pyplot as plt

from typing import List

Задание 1 и 2. Создадим DataFrame с двумя колонками. Названия колонок "abs_path" и "classname".

In [12]:
df = pd.read_csv('annotation.csv', delimiter=';', usecols = (1, 3), names = ('abs_path', 'classname'))
print(df)

                                               abs_path classname
0     C:\Users\kiril\Desktop\4labAP\dataset\tiger\00...     tiger
1     C:\Users\kiril\Desktop\4labAP\dataset\tiger\00...     tiger
2     C:\Users\kiril\Desktop\4labAP\dataset\tiger\00...     tiger
3     C:\Users\kiril\Desktop\4labAP\dataset\tiger\00...     tiger
4     C:\Users\kiril\Desktop\4labAP\dataset\tiger\00...     tiger
...                                                 ...       ...
2461  C:\Users\kiril\Desktop\4labAP\dataset\leopard\...   leopard
2462  C:\Users\kiril\Desktop\4labAP\dataset\leopard\...   leopard
2463  C:\Users\kiril\Desktop\4labAP\dataset\leopard\...   leopard
2464  C:\Users\kiril\Desktop\4labAP\dataset\leopard\...   leopard
2465  C:\Users\kiril\Desktop\4labAP\dataset\leopard\...   leopard

[2466 rows x 2 columns]

Задание 3. Добавление столбца с метками "0" для класса "tiger" и "1" для класса "leopard".

In [13]:
df["class_mark"] = 0
df.loc[df["classname"] == "leopard", "class_mark"] = 1
print(df)

                                               abs_path classname  class_mark
0     C:\Users\kiril\Desktop\4labAP\dataset\tiger\00...     tiger           0
1     C:\Users\kiril\Desktop\4labAP\dataset\tiger\00...     tiger           0
2     C:\Users\kiril\Desktop\4labAP\dataset\tiger\00...     tiger           0
3     C:\Users\kiril\Desktop\4labAP\dataset\tiger\00...     tiger           0
4     C:\Users\kiril\Desktop\4labAP\dataset\tiger\00...     tiger           0
...                                                 ...       ...         ...
2461  C:\Users\kiril\Desktop\4labAP\dataset\leopard\...   leopard           1
2462  C:\Users\kiril\Desktop\4labAP\dataset\leopard\...   leopard           1
2463  C:\Users\kiril\Desktop\4labAP\dataset\leopard\...   leopard           1
2464  C:\Users\kiril\Desktop\4labAP\dataset\leopard\...   leopard           1
2465  C:\Users\kiril\Desktop\4labAP\dataset\leopard\...   leopard           1

[2466 rows x 3 columns]

Задание 4. Добавление трех столбцов "height", "width" и "depth".

In [14]:
height_i: List[int] = []

for i in range(df["abs_path"].size):
    img = cv2.imread(df["abs_path"].iloc[i])
    if img is not None:
      height_i.append(img.shape[0])
    else:
      print(df["abs_path"].iloc[i])

df["height"] = height_i
print(df)

                                               abs_path classname  class_mark  \
0     C:\Users\kiril\Desktop\4labAP\dataset\tiger\00...     tiger           0
1     C:\Users\kiril\Desktop\4labAP\dataset\tiger\00...     tiger           0
2     C:\Users\kiril\Desktop\4labAP\dataset\tiger\00...     tiger           0
3     C:\Users\kiril\Desktop\4labAP\dataset\tiger\00...     tiger           0
4     C:\Users\kiril\Desktop\4labAP\dataset\tiger\00...     tiger           0
...                                                 ...       ...         ...
2461  C:\Users\kiril\Desktop\4labAP\dataset\leopard\...   leopard           1
2462  C:\Users\kiril\Desktop\4labAP\dataset\leopard\...   leopard           1
2463  C:\Users\kiril\Desktop\4labAP\dataset\leopard\...   leopard           1
2464  C:\Users\kiril\Desktop\4labAP\dataset\leopard\...   leopard           1
2465  C:\Users\kiril\Desktop\4labAP\dataset\leopard\...   leopard           1

      height
0        300
1        300
2        300
3        316
4        320
...      ...
2461     300
2462     320
2463     320
2464     320
2465     300

[2466 rows x 4 columns]

In [15]:
width_i: List[int] = []

for i in range(df["abs_path"].size):
    img = cv2.imread(df["abs_path"].iloc[i])
    if img is not None:
      width_i.append(img.shape[1])
    else:
      print(df["abs_path"].iloc[i])

df["width"] = width_i
print(df)

                                               abs_path classname  class_mark  \
0     C:\Users\kiril\Desktop\4labAP\dataset\tiger\00...     tiger           0
1     C:\Users\kiril\Desktop\4labAP\dataset\tiger\00...     tiger           0
2     C:\Users\kiril\Desktop\4labAP\dataset\tiger\00...     tiger           0
3     C:\Users\kiril\Desktop\4labAP\dataset\tiger\00...     tiger           0
4     C:\Users\kiril\Desktop\4labAP\dataset\tiger\00...     tiger           0
...                                                 ...       ...         ...
2461  C:\Users\kiril\Desktop\4labAP\dataset\leopard\...   leopard           1
2462  C:\Users\kiril\Desktop\4labAP\dataset\leopard\...   leopard           1
2463  C:\Users\kiril\Desktop\4labAP\dataset\leopard\...   leopard           1
2464  C:\Users\kiril\Desktop\4labAP\dataset\leopard\...   leopard           1
2465  C:\Users\kiril\Desktop\4labAP\dataset\leopard\...   leopard           1

      height  width
0        300    480
1        300    480
2        300    480
3        316    480
4        320    480
...      ...    ...
2461     300    480
2462     320    180
2463     320    480
2464     320    445
2465     300    480

[2466 rows x 5 columns]

In [16]:
depth_i: List[int] = []

for i in range(df["abs_path"].size):
    img = cv2.imread(df["abs_path"].iloc[i])
    if img is not None:
      depth_i.append(img.shape[2])
    else:
      print(df["abs_path"].iloc[i])

df["depth"] = depth_i
print(df)

                                               abs_path classname  class_mark  \
0     C:\Users\kiril\Desktop\4labAP\dataset\tiger\00...     tiger           0
1     C:\Users\kiril\Desktop\4labAP\dataset\tiger\00...     tiger           0
2     C:\Users\kiril\Desktop\4labAP\dataset\tiger\00...     tiger           0
3     C:\Users\kiril\Desktop\4labAP\dataset\tiger\00...     tiger           0
4     C:\Users\kiril\Desktop\4labAP\dataset\tiger\00...     tiger           0
...                                                 ...       ...         ...
2461  C:\Users\kiril\Desktop\4labAP\dataset\leopard\...   leopard           1
2462  C:\Users\kiril\Desktop\4labAP\dataset\leopard\...   leopard           1
2463  C:\Users\kiril\Desktop\4labAP\dataset\leopard\...   leopard           1
2464  C:\Users\kiril\Desktop\4labAP\dataset\leopard\...   leopard           1
2465  C:\Users\kiril\Desktop\4labAP\dataset\leopard\...   leopard           1

      height  width  depth
0        300    480      3
1        300    480      3
2        300    480      3
3        316    480      3
4        320    480      3
...      ...    ...    ...
2461     300    480      3
2462     320    180      3
2463     320    480      3
2464     320    445      3
2465     300    480      3

[2466 rows x 6 columns]

Задание 5. Статистика по колонках "class_mark", "height", "width" и "depth".

In [17]:
mark_stats = df['class_mark'].describe() 
print(mark_stats)

count    2466.000000
mean        0.494323
std         0.500069
min         0.000000
25%         0.000000
50%         0.000000
75%         1.000000
max         1.000000
Name: class_mark, dtype: float64

In [18]:
height_stats = df['height'].describe() 
print(height_stats)

count    2466.000000
mean      307.159773
std        20.421989
min       192.000000
25%       300.000000
50%       320.000000
75%       320.000000
max       320.000000
Name: height, dtype: float64

In [19]:
width_stats = df['width'].describe() 
print(width_stats)

count    2466.000000
mean      437.692214
std        77.859147
min       160.000000
25%       427.000000
50%       480.000000
75%       480.000000
max       480.000000
Name: width, dtype: float64

In [20]:
depth_stats = df['depth'].describe() 
print(depth_stats)

count    2466.0
mean        3.0
std         0.0
min         3.0
25%         3.0
50%         3.0
75%         3.0
max         3.0
Name: depth, dtype: float64

Задание 6.

In [21]:
def filter_dataframe(df: pd.DataFrame, label: int) -> pd.DataFrame:
    """
    Функция на вход принимает DataFrame и метку класса, а возвращает отфильтрованный по метке DataFrame
    """
    new= pd.DataFrame = df[df.class_mark == label]
    return new

print(filter_dataframe(df, 0))

                                               abs_path classname  class_mark  \
0     C:\Users\kiril\Desktop\4labAP\dataset\tiger\00...     tiger           0
1     C:\Users\kiril\Desktop\4labAP\dataset\tiger\00...     tiger           0
2     C:\Users\kiril\Desktop\4labAP\dataset\tiger\00...     tiger           0
3     C:\Users\kiril\Desktop\4labAP\dataset\tiger\00...     tiger           0
4     C:\Users\kiril\Desktop\4labAP\dataset\tiger\00...     tiger           0
...                                                 ...       ...         ...
1242  C:\Users\kiril\Desktop\4labAP\dataset\tiger\12...     tiger           0
1243  C:\Users\kiril\Desktop\4labAP\dataset\tiger\12...     tiger           0
1244  C:\Users\kiril\Desktop\4labAP\dataset\tiger\12...     tiger           0
1245  C:\Users\kiril\Desktop\4labAP\dataset\tiger\12...     tiger           0
1246  C:\Users\kiril\Desktop\4labAP\dataset\tiger\12...     tiger           0

      height  width  depth
0        300    480      3
1        300    480      3
2        300    480      3
3        316    480      3
4        320    480      3
...      ...    ...    ...
1242     319    480      3
1243     320    400      3
1244     320    480      3
1245     300    480      3
1246     300    480      3

[1247 rows x 6 columns]

Задание 7.

In [ ]:
def specified_filter(label: int, max_width: int, max_height: int, df: pd.DataFrame) -> pd.DataFrame:
    """
    Функция принимает метку класса, max_height и max_width, а возвращает отфильтрованный по заданным параметрам DataFrame
    """
    new = df[(df.class_mark == label) & (df.width <= max_width) & (df.height <= max_height)]
    return new

print(specified_filter(1, 1000, 1000, df))

Задание 8. Группировка DataFrame по метке класса с вычислением максимального, минимального и среднего значения по количеству пикселей.

In [ ]:
df["count_pixel"] = df.height * df.width
result= pd.DataFrame = df.groupby("class_mark").agg({"count_pixel": ['mean', 'min', 'max']}) 
print(result)